* {
    margin: 0;
    padding: 0;
}

ul, ol {
  list-style: none;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: rgb(217, 255, 227);
    font-family: 'Comic Sans MS', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}