html {
    box-sizing: border-box;
    display: block;
    box-sizing: border-box;
    margin: 10px;
    scroll-behavior: smooth;
    background-color: rgb(217, 255, 227);
    font-family: fantasy, sans-serif;
    font-weight: normal;
}

img {
    width: 17em;
    display: block;
    margin: auto;
    border-style: double;
    border-width: 5px;
}
