/* general setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: rgb(217, 255, 227);
    font-family: 'Comic Sans MS', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul, ol {
  list-style: none;
}

/* TAB PANEL */
.tab-panel {
    width: 452px;
    height: 300px;
    margin: 10px 10px 0 0;
    border: 2px solid forestgreen;
    float: right;
}

/* tabs style */
.tabs {
    display: flex;
    height: 40px;
    align-items: stretch;
    border-bottom: 2px solid forestgreen;
}

.tabs li {
    flex: 1 1 auto;
    text-align: center;
    line-height: 40px;
    font-weight: 600;
}

.tabs li:hover {
    background-color: darkolivegreen;
}

.active-tab {
    background-color: forestgreen;
}

/* panels style */
.panels {
    width: 100%;
    height: 256px;
    position: relative;
}

.panels article {
    width: 100%;
    height: 256px;
    padding: 20px;
    background-color: forestgreen;
    position: absolute;
    overflow: scroll
}

.panels img {
    width: 100%;
}

.panels .active-panel {
    z-index: 1;
}